@import "./reset.css";

body {
	background-color: #0e1014
}

* {
	border: none;
	margin: 0;
	padding: 0
}

/* main conteiner header */
.container {
	max-width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

/* header */
.header {
	display: flex;
	flex-wrap: nowrap;
	height: 73px;
	justify-content: space-between;
	margin-bottom: 90px;
	margin-top: 50px;
	width: 100%;	
}

/* header logotip and text */
.header .header-left-side {
	width: 140px;
	height: 24px;
}

.header .header-logo-subtitle {
	color: #e4e5ea;
	font-family: Montserrat, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-top: 10px;
}

/* header navigation */
.header .header-navigation {
	width: 503px;
	height: 19px;
	margin-right: 60px;
}

.header .header-navigation-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header .header-navigation-list .header-namvigation-list-item {
	color: #e4e5ea;
	font-size: 16px;
	font-weight: 500;
	font-family: Inter, sans-serif;
}

/* header contacts */
.header .header-contacts {
	display: flex;
	flex-wrap: nowrap;
}

.header .header-contacts .header-contacts-number {
	color: #e4e5ea;
	font-size: 16px;
	font-weight: 500;
	margin-right: 47px;
}

.header .header-contacts .header-contacts-link {
	margin-right: 25px;
}

.header .header-contacts .header-contacts-link-whatsapp {
	margin-right: auto;
}

/* general content */
.content {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

/* left side */
.content .content-left-side-title {
   color: #e4e5ea;
   font-size: 48px;
   font-weight: 400;
   margin-bottom: 30px;
}

.content .title-gradient {
   -webkit-text-fill-color: #0000;
	background: #fcb045;
   background: linear-gradient(90deg,#fcb045 0,#ff3f78);
   background-clip: text;
   -webkit-background-clip: text;
   font-weight: 900;
}

.content .content-left-side-subtitle {
	color: #e4e5ea;
   font-family: Montserrat, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

/* right side */
.content .content-right-side-title {
   color: #e4e5ea;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 40px;
   margin-top: 15px;
   text-align: right;
}

.content .content-right-side-title .right-title-gradient1 {
   -webkit-text-fill-color: #0000;
   background: linear-gradient(90deg,#fcb045 36.99%,#fd1d1d);
   background-clip: text;
   -webkit-background-clip: text;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 0.9px;
   text-transform: uppercase;
}

.content .content-right-side-title .right-title-gradient2 {
   -webkit-text-fill-color: #0000;
   background: linear-gradient(90deg,#fcb045 36.99%,#fd1d1d);
   background-clip: text;
   -webkit-background-clip: text;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 0.9px;
   text-transform: uppercase;
}

.content .content-right-side-title .content-right-side {
	display: flex;
	flex-direction: column;
	max-width: 320px;
}

.content .content-right-side-gifts {
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
}

.content .content-right-side-gifts .content-right-side-gift {
   width: 140px;
}

.content .content-right-side-gifts .content-right-side-gift h1 {
   color: #e4e5ea;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 0.9px;
   margin-bottom: 6px;
   text-align: right;
   text-transform: uppercase;
}

.content .content-right-side-gifts .content-right-side-gift h2 {
   color: #e4e5ea;
   font-family: Montserrat, sans-serif;
   font-size: 16px;
   font-weight: 400;
   text-align: right;
}

/* button content*/
.content .content-right-side-button {
   background-color: #4077f3;
   color: #e4e5ea;
   cursor: pointer;
   font-family: Inter;
   font-size: 16px;
   font-weight: 500;
   height: 61px;
   margin-left: 40px;
   margin-top: 60px;
   width: 262px;
}



