@import "./reset.css";
@import "./media.css";

* {
	border: none;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background-color: #0e1014;
	font-family: sans-serif;
}

/* main conteiner header */
.wrapper {
	max-width: 1160px;
	min-height: 100%;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* header */
.header {
	display: flex;
	flex-wrap: nowrap;
	height: 73px;
	justify-content: space-between;
	margin-bottom: 90px;
	margin-top: 50px;
	width: 100%;	
}

/* header logotip and text */
.header .header-left-side {
	width: 140px;
	height: 24px;
}

.header .header-logo-subtitle {
	color: #e4e5ea;
	font-family: Montserrat, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-top: 10px;
}

/* header navigation */
.header .header-navigation {
	width: 503px;
	height: 19px;
	margin-right: 60px;
}

.header .header-navigation-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header .header-navigation-list .header-navigation-list-item {
	color: #e4e5ea;
	font-size: 16px;
	font-weight: 500;
	font-family: Inter, sans-serif;
}

/* header contacts */
.header .header-contacts {
	display: flex;
	flex-wrap: nowrap;
}

.header .header-contacts .header-contacts-number {
	color: #e4e5ea;
	font-size: 16px;
	font-weight: 500;
	margin-right: 47px;
}

.header .header-contacts .header-contacts-link {
	margin-right: 25px;
}

.header .header-contacts .header-contacts-link-whatsapp {
	margin-right: auto;
}

/* body content */
.content {
   display: flex;
   justify-content: space-between;
   width: 100%;
	flex-grow: 1;
}

/* left side */
.content .content-left-side-title {
   color: #e4e5ea;
   font-size: 48px;
   font-weight: 400;
   margin-bottom: 30px;
}

.content .title-gradient {
   -webkit-text-fill-color: #0000;
	background: #fcb045;
   background: linear-gradient(90deg,#fcb045 0,#ff3f78);
   background-clip: text;
   -webkit-background-clip: text;
   font-weight: 900;
}

.content .content-left-side-subtitle {
	color: #e4e5ea;
   font-family: Montserrat, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

/* right side */
.content .content-right-side-title {
   color: #e4e5ea;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 40px;
   margin-top: 15px;
   text-align: right;
}

.content .content-right-side-title .right-title-gradient1 {
   -webkit-text-fill-color: #0000;
   background: linear-gradient(90deg,#fcb045 -15%,#fd1d1d);
   background-clip: text;
   -webkit-background-clip: text;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 0.9px;
   text-transform: uppercase;
}

.content .content-right-side-title .right-title-gradient2 {
   -webkit-text-fill-color: #0000;
   background: linear-gradient(90deg,#fcb045 60%,#fd1d1d);
   background-clip: text;
   -webkit-background-clip: text;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 0.9px;
   text-transform: uppercase;
}

.content .content-right-side-title .content-right-side {
	display: flex;
	flex-direction: column;
	max-width: 320px;
}

.content .content-right-side-gifts {
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
}

.content .content-right-side-gifts .content-right-side-gift {
   width: 140px;
}

.content .content-right-side-gifts .content-right-side-gift h1 {
   color: #e4e5ea;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 0.9px;
   margin-bottom: 6px;
   text-align: right;
   text-transform: uppercase;
}

.content .content-right-side-gifts .content-right-side-gift h2 {
   color: #e4e5ea;
   font-family: Montserrat, sans-serif;
   font-size: 16px;
   font-weight: 400;
   text-align: right;
}

/* button content*/
.content .content-right-side-button {
   background-color: #4077f3;
   color: #e4e5ea;
   cursor: pointer;
   font-family: Inter;
   font-size: 16px;
   font-weight: 500;
   height: 61px;
   margin-left: 48px;
   margin-top: 60px;
   width: 262px;
}

/* footer box */
.footer {
	display: flex;
   justify-content: space-between;
   margin-top: 100px;
}

.footer h1 {
   color: #656566;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0.7px;
   margin-bottom: 20px;
   text-transform: uppercase;
}

.footer a {
   color: #e4e5ea;
   font-family: Inter;
   font-size: 16px;
   font-weight: 400;
}


.footer li {
   margin-bottom: 10px;
}

.footer .ul-container {
   display: flex;
}

.footer .ul-container .ul-container-right-side {
   margin-left: 50px;
}

.footer .footer-contacts-right-side {
   display: flex;
   flex-direction: column;
	gap: 10px;
}

.footer .footer-contacts-links {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	margin-left: 178px;
	margin-top: 20px;
   margin-bottom: 20px;
	width: 80px;
	height: 20px;
}

.footer-contacts-link {
	margin-right: 10px;
}

.footer .footer-link {
   margin-right: 10px;
}

.footer .footer-address {
   color: #e4e5ea;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-weight: 400;
   text-align: right;
}

.right-side {
   text-align: right;
}

.footer .copyrights {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}

.footer p .footer-copyrights {
   margin-bottom: 5px;
}

.footer .copyrights a, .footer .copyrights p {
	color: #e4e5ea;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-align: right;
}

.footer .copyrights a {
	text-decoration-line: underline;
}


.footer-contacts-number {
   color: #e4e5ea;
   font-size: 16px;
   font-weight: 500;
   margin-right: 0;
   text-align: right;
}

/* balls and lights */

.wrapper .red-light {
	background: #961a1a;
	filter: blur(196px);
	height: 311px;
	left: 68px;
	opacity: 0.5;
	position: absolute;
	top: 297px;
	width: 311px;
	z-index: -10;
}

.wrapper .red-ball, .wrapper .small-red-ball {
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	border-radius: 100px;
	box-shadow: 3px 6px 27px -10px #df7d7d40;
	position: absolute;
	z-index: -10;
}

.wrapper .red-ball {
	background: radial-gradient(64% 64% at 27.25% 26.5%,hsla(0,100%,91%,.536) 0,rgba(212,93,93,.264) 59.67%,rgba(167,49,49,.248) 78.59%,rgba(130,25,25,.248) 100%);
	height: 83px;
	left: 572px;
	top: 74px;
	width: 83px;
}

.wrapper .small-red-ball {
	background: radial-gradient(64% 64% at 27.25% 26.5%,#ffd0d07a 0,rgba(212,93,93,.248) 59.67%,rgba(167,49,49,.264) 78.59%,rgba(130,25,25,.232) 100%);
	filter: blur(2.5px);
	height: 28px;
	right: 600px;
	top: 545px;
	width: 28px;
}

.wrapper .red-ball, .wrapper .small-red-ball {
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	border-radius: 100px;
	box-shadow: 3px 6px 27px -10px #df7d7d40;
	position: absolute;
	z-index: -10;
}

.wrapper .purple-ball {
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	background: radial-gradient(64% 64% at 27.25% 26.5%,#ecd0ffa3 0,#a15dcf3d 59.67%,rgba(118,49,164,.208) 78.59%,rgba(86,24,128,.232) 100%);
	border-radius: 100px;
	box-shadow: 3px 6px 27px -10px #b176d940;
	filter: blur(5px);
	height: 60px;
	left: 918px;
	position: absolute;
	top: -4px;
	width: 60px;
	z-index: -10;
}

.wrapper .purple-light {
	background: #833ab4;
	filter: blur(196px);
	height: 259px;
	left: 667px;
	opacity: 0.5;
	position: absolute;
	top: -140px;
	width: 259px;
	z-index: -9;
}